# Node
**/node_modules/
**/.next/
**/dist/
**/.turbo/

# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
**/.env

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Vercel
.vercel

**/venv/
**/.venv/

# Env
.env
