# Node
**/node_modules/
**/.next/
**/dist/
**/.turbo/

# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
**/.env

# OS
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/

# Logs
*.log

# Vercel
.vercel

# Env and DB
.env
*.env
*.sqlite3

# Virtual Envs
venv/
spleeter-env/
whisper-env/

# Audio
*.mp3
*.wav
*.ogg
*.flac
*.m4a
/tmp/

# Supabase cache (optional)
.supabase/

# Model Checkpoints (if any)
canere-backend/pretrained_models/